/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  }

.border-form-div input[type="username"],
.border-form-div input[type="password"] 
{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}