<p>Hello <%= @username %>!</p>

<p>Please click on the following link to activate your account! </p>

<p><%= link_to 'Activate account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>Thank you, </br> 
Trackie Team! </p>
